
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
background-size: cover;
background-position: center;
font-family: sans-serif;
background: whitesmoke;
}
.logo{
background:  rgba(255, 68, 0, 0.78);
text-align: center;
color: black;
font-size: 27px;
font-weight: 600;
line-height: 70px;
padding-left: 60px;
}


.box{
width: 98%;
height: auto;
margin: 1% 1% 1% 1%;
padding: 10px 20px;
box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}



@media all and (max-width: 968px) {
nav ul{
margin-right: 0px;
float: left;
}
nav .logo{
padding-left: 30px;
width: 100%;
}
}
