
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
background-size: cover;
background-position: center;
font-family: sans-serif;
background: whitesmoke;
}
.logo{
background:  rgba(255, 68, 0, 0.78);
text-align: center;
color: black;
font-size: 27px;
font-weight: 600;
line-height: 70px;
padding-left: 60px;
}


.box{
width: 98%;
height: auto;
margin: 1% 1% 1% 1%;
padding: 10px 20px;
box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}
#rating div {
    font: 14px sans-serif;
    background-color: steelblue;
    text-align: left;
    padding: 3px;
    margin: 1px;
    color: white;
    }
    .split {
        height: 50%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        
        padding-top: 20px;
        
        
      }
      
      .uleft {
        left: 0;
        
      }
      
      .uright {
        top: 20px;
        right: 0;
        
        
      }
      .split2 {
        height: 50%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        
        padding-top: 20px;
      }
      
      .uleft2 {
        top: 55%;
        right: 50%;
        left: 0;
        
        
      }
      
      .uright2 {
        top: 50%;
        left:50%;
        right: 0;
        overflow-x: hidden;
      }

      
      .centered {
        position: absolute;
        text-align: center;
        left: 2%;
      }
      .centered2 {
        position: absolute;
        
        left: 20%;
        
        text-align: center;
      }
      .centered3 {
        position: absolute;
        
        left: 25%;
        
        text-align: center;
      }


@media all and (max-width: 968px) {
nav ul{
margin-right: 0px;
float: left;
}
nav .logo{
padding-left: 30px;
width: 100%;
}
}
